<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{ form.fighter1 }}
            {{ form.fighter2 }}
            <button> Predict </button>
        </form>
    </body>
    <script>
        function move(){
            f1 = document.getElementById("fighter1").value
            f2 = document.getElementById("fighter2").value

            if(f1=="" || f2==""){
                alert("empty")
            }
            else{
                
            }
        }
    </script>
</html>
